<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <form method="POST" style="background-color: cadetblue; height: 200px; width: 200px;text-align: center;justify-items: center;align-items: center;margin-top: 200px;margin-bottom: 200px ;margin-left: 700px; margin-right: 700px; padding: auto; border-radius: 10px; box-shadow: 0 0 10px black;">
        Name: <input type="text" name="name" style="justify-content: center;">
        <br>
        <br>
        <br>
        Phone Number: <input type="text" name="phone_number" style="justify-content: center;">
        <br>
        <br>
        <br>
        <input type="submit" value="Save">
        <br>
        <br>
        {{result['status']}}
    </form>
</body>
</html>